.btn {
    border-radius: 30px;
    font-weight: bold;
}

nav .btn {
    width: 110px;
    margin-left: 15px;
}

h1 {
    margin-top: 45px;
}

.btn-light {
    color: #505050;
}

.btn-secondary {
    background: rgb(95, 95, 95);
}

.btn-secondary:hover {
    background: rgb(110, 110, 110);
}

.btn-primary {
    background: #4586FF;
    border-color: #4586FF;
    outline-color: #4586FF;
}

.btn-primary:hover{
    background: rgba(69, 134, 255, 0.815);
    border-color: rgba(69, 134, 255, 0.815);
}

.btn-primary:not([disabled]):not(.disabled):active {
    background: rgba(69, 134, 255, 0.815);
    border-color: rgba(69, 134, 255, 0.815);
}

.link-white {
    color: white;
    font-weight: 1.2em;
}

.form-control {
    border-radius: 8px;
    border: none;
    border: 2px solid rgb(220, 220, 220);
}

.form-group-center {
    margin: auto;
    display: block;
}

/* Bootstrap: hamburger */
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    background: rgb(230, 230, 230);
}

.form-control:focus {
    border-color: #00a2ff;
    box-shadow: none;
}

.form-group {
    margin-bottom: 2rem;
}

.alert {
    color: white;
    border: none;
    margin: 0;
    border-radius: 0;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.alert-danger {
    background: #FC345C;
}

.alert-success {
    background: #49D292;
}
 
.alert-dismissible .close {
    padding: 17px;
}

.close:focus, .close:hover {
    color: white;
}

.text-muted {
    color: rgb(70, 70, 70);
}

a:hover{
    text-decoration: none;
}

.btn-danger {
    background: #ff304f;; 
    border-color: #ff304f;;
}

.list-group {
    margin-top: 30px;
}

.list-group form {
    margin-top: 5px; 
}

body {
    padding-bottom: 30px;
}


button:hover, .btn:hover{
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

form {
    margin-top: 75px;
}

.margin-top-25{
    margin-top: 25px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-top-75{
    margin-top: 75px;
}

.margin-left-25{
    margin-left: 25px;
}

.margin-left-50{
    margin-left: 50px;
}

.margin-left-75{
    margin-left: 75px;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-left {
    margin-left: 0;
}

.carousel-control-next, .carousel-control-prev {
    width: 6%;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='404040' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='404040' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgba(80, 80, 80, .6);
}

.carousel-indicators .active {
    background: rgba(80, 80, 80, 1);
}

.carousel-indicators {
    bottom: -50px;
}

.display-none {
    display: none;
}

.custom-select {
    margin: auto;
    display: block;
}
