<style>
    .chart-container {
        margin: auto;
        margin-top: 50px;
        position: relative;
        height: 80vh;
        width: 85vw;
    }
</style>

<div class="chart-container">   
    <canvas id="myChart"></canvas>
</div>

<script defer>
    var datas = [];
    var labels = [];

    request('php/getWeight.php', 'POST', null, function(data) {
        data = JSON.parse(data);
        
        for(i in data) {
            obj = {
                x: moment(data[i].day),
                y: data[i].weight
            }
            datas.push(obj);
            labels.push(moment(data[i].day));
        }
        
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Weight curve',
                    data: datas,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 3,
					pointRadius: 3,
					fill: true,
					lineTension: 0,
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: 'YYYY-MM-DD',
                            unit: 'day',
                            tooltipFormat: 'DD.MM.YYYY',
                            displayFormats: {
                                day: 'DD.MM.YYYY'
                            },
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Weight'
                        }
                    }]
                }
            }
        });
    });
</script>