<style>
    .chart-container {
        margin: auto;
        position: relative;
        width: 87vw;
        margin-top: 60px;
    }
</style>

<div class="container-fluid">
    <select class="custom-select display-none" id="date-unit">
        <option value="week">Week</option>
        <option value="month" selected>Month</option>
    </select>
	<div class="row">
		<div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
                <ol class="carousel-indicators display-none"></ol>
                <div class="carousel-inner"></div>
                <a class="carousel-control-prev display-none" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next display-none" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
		</div>
	</div>
</div>

<script defer>
    var dateUnit = $('#date-unit')
    var datas = []
    var labels = []

    // Graph object
    function params(labels, datas, unit) {

        // Get date depends on the unit
        if(unit == 'month') {
            label = moment(datas[0].x).format('MMMM YYYY')
        } else {
            label = moment().day(1).week(moment(datas[0].x).week())
            label = label.format('DD.MM.YYYY - ') + moment(label).day(7).format('DD.MM.YYYY')
        }

        return {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: label,
                    data: datas,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 3,
					pointRadius: 3,
					fill: true,
					lineTension: 0,
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: 'YYYY-MM-DD',
                            unit: 'day',
                            stepSize: unit == 'month' ? 2 : 1,
                            tooltipFormat: 'DD.MM.YYYY',
                            displayFormats: {
                                day: 'DD.MM.YYYY'
                            },
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Weight'
                        }
                    }]
                }
            }
        }
    }

    function getWeight(unit) {
        request('php/getWeight.php', 'POST', {unit: unit}, function(data) {
            // Reset the divs content
            $('.carousel-indicators').empty()
            $('.carousel-inner').empty()
            data = JSON.parse(data)

            // If data contains > 1 table, show the controls (left, right arrow, ...)
            if(data.length > 1) {
                $('.display-none').removeClass('display-none')
            }

            // Get the active month or week, if there is not -> the active month or week will be 0
            var active = 0
            for(a in data) {
                switch(unit) {
                    case 'month':
                        if(moment(data[a][0].day).month() === moment().month()) {
                            active = a
                            break
                        }
                        break
                    case 'week':
                        if(moment(data[a][0].day).week() === moment().week()) {
                            active = a
                            break
                        }
                        break
                }
            }
            console.log(data.length);
            if(data.length > 0) {
                $('#date-unit').removeClass('display-none');
                for(var i in data) {
                    datas = []
                    labels = []

                    // Create the arrays for the chart
                    for(var y in data[i]) {
                        datas.push({
                            x: moment(data[i][y].day),
                            y: data[i][y].weight
                        })
                        labels.push(moment(data[i][y].day))
                    }
                    
                    // Create Contents
                    var container = $('<div class="carousel-item ' + (i == active ? 'active' : '') + '"><div class="chart-container"></div></div>')
                    var canvas = $('<canvas height="115px"></canvas>')
                    container.find('.chart-container').append(canvas)
                    $('.carousel-indicators').append($('<li data-target="#carouselExampleIndicators" data-slide-to="' + i + '" class="' + (i == active ? 'active' : '') + '"></li>'))
                    $('.carousel-inner').append(container)
                    new Chart(canvas[0].getContext('2d'), params(labels, datas, unit))
                }
            }
        })
    }

    dateUnit.change(function(){
        getWeight(dateUnit.val())

        // Scroll to bottom
        $('html, body').animate({ scrollTop: $(document).height() }, 'slow')
    })

    getWeight('month')
</script>